body {
    background-color: rgb(231, 231, 229);
}


h1 {
    color: #000000;
    font-size: 220px;
    font-family: Helvetica;
    text-align: left;
    margin-top: 150px;
    position: relative;
}

h2 {
    color: #0063f7;
    font-size: 20px;
    font-family: Helvetica;
}
.bground{
    height: 300px;
    max-width: 100%;
    padding-left: 20px;
    padding-top: 15px;
}
.mylogo {
    height: 300px;
    max-width: 100%;
    padding-left: 20px;
    padding-top: 15px;
    
}

header {
    background-color: rgb(231, 231, 229);
    padding: 10px 20px;
    text-align: center;
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; /* Adjust to fill the entire width */
    z-index: 1; /* Ensure the navbar stays above other content */
}

header a {
    color: #000000;
    text-decoration: none;
    margin: 0 40px; /* Adjust the left and right spacing */
    padding: 5px 10px; /* Adds some padding inside the links */
    font-size: 18px;
    font-family: Helvetica;
    transition: color 0.3s ease;
}

header a:hover {
    color: #0e36ce;
}


.p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    font-family: Helvetica;
    color: #FFF;
}
