{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="about-container">
    <img class="mylogo" src="{% static 'images/logos.png' %}" alt="My Logo">
    <h2>TMI:</h2>
    <p>
        Hi, I'm Jem Talacay, and I come from Molino 1 Bacoor Cavite.
        I'm currently working on a Django project, where I enjoy diving
        into web development and improving my CSS design skills. 
    </p>
    <p>
        I love combining technical problem-solving with creativity.
        Outside of that, I'm passionate about 3D animation and often
        work on short animated films. In the future, I aim to deepen
        my skills in creating projects.
    </p>
    <hr>
</div>
{% endblock content %}
