<nav>
    <div class="nav-col">
        <div class="nav-items">
            <a href="{% url 'home' %}">Talacay</a>
        </div>
        <div class="nav-items">
            <p>Personal Portfolio</p>
        </div>
    </div>
    <div class="nav-col">
        <div class="nav-items">
            <a href="{% url 'about' %}">About</a>
            <a href="#">Works</a>
            <a href="#">Contact</a>
        </div>
        <div class="nav-items">
            <a href="#">Instagram</a>
            <a href="#">LinkedIn</a>
            <a href="#">Twitter</a>
        </div>
        <div class="nav-items">
            <p>Manila, Philippines</p>
        </div>
    </div>
</nav>
